:root {
    --max-width: 1920px;
    --primary-font: Arial, Helvetica, sans-serif;
    --primary-clr: #fff;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
    font-family: var(--primary-font);
}

a {
    text-decoration: none;
    color: inherit;
}

#blur-overlay {
    cursor: pointer;
    position: absolute;
    inset: 0 0 0 0;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(2.5px);
}

nav {
    background-color: #000;
}

.navbar {
    height: 64px;
    max-width: var(--max-width);
    color: #fff;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10px;

    h1 {
        margin: 0;
        font-size: 1.5em;
    }
}

main {
    max-width: var(--max-width);
    padding: 20px 10px;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: none;
}

#add-employee-btn {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px;

    &:hover {
        background-color: #d5d5d5;
    }
}

#modal-body {
    position: absolute;
    z-index: 10;
    border: 1px solid #000;
}
