:root {
    height: 100%;
    --max-width: 1440px;
    --primary-font: Arial, Helvetica, sans-serif;
    --primary-clr: #fff;
}

*,
::before,
::after {
    box-sizing: border-box;
}

.material-symbols-rounded {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
    cursor: pointer;
    user-select: none;
    color: var(--primary-clr);
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
    font-family: var(--primary-font);
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
}

label,
input,
textarea,
select {
    display: block;
}

input,
textarea,
select {
    border: 1px solid #7e7e7e;
    border-radius: 3px;
    width: 100%;
    background-color: transparent;

    &:focus-visible {
        outline: 1px solid #000;
        border-color: #000;
    }
}

select {
    cursor: pointer;

    &:invalid {
        color: #7e7e7e;
    }
}

textarea {
    resize: none;
}

input[type='radio'] {
    accent-color: #000;
}

/* fieldset {
    border: none;
    padding: 0;
    margin: 0;
    min-width: 0;

    & legend {
        padding: 0;
        display: table;
    }
} */

#blur-overlay {
    cursor: pointer;
    position: fixed;
    inset: 0 0 0 0;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(2.5px);
}

nav {
    background-color: #000;
}

.navbar {
    height: 64px;
    max-width: var(--max-width);
    color: #fff;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10px;

    h1 {
        margin: 0;
        font-size: 1.5em;
    }
}

main {
    max-width: var(--max-width);
    padding: 20px 10px;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: none;
}

#add-emp-btn {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px;

    & span {
        color: #000;
        display: block;
    }

    &:hover {
        background-color: #d5d5d5;
    }
}

.custom-select-wrap {
    position: relative;
    max-width: 200px;

    & input[type='text'] {
        height: 25px;
        border: 1px solid #7e7e7e;
        border-radius: 3px;

        &:focus {
            border-color: #000;
        }
    }

    & button {
        padding: 4px;
        border-radius: 4px;
        width: 100%;
        text-align: left;

        &:hover {
            background-color: #d5d5d5;
            cursor: pointer;
        }
    }

    & .select-options {
        position: absolute;
        /* top: 100%; */
        /* top: calc(100% - 1px); */
        bottom: calc(100% + 1px);
        left: 0;
        background-color: #fff;
        width: 100%;
        border: 1px solid #b5b5b5;
        border-radius: 5px;
        z-index: 10;
        max-height: 82px;
        overflow: auto;
        list-style: none;
        /* padding: 3px 0; */
        padding: 0;
        margin: 0;
    }
}

.selected-skills-list {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
    gap: 8px;
    flex-wrap: wrap;

    & .skill-chip {
        min-height: 25px;
        align-items: center;
        justify-content: space-between;
        gap: 5px;
        padding-inline: 8px;
        border-radius: 15px;
        color: #fff;
        font-size: 0.8em;

        &:nth-child(3n + 1) {
            background-color: teal;
        }

        &:nth-child(3n + 2) {
            background-color: darkblue;
        }

        &:nth-child(3n + 3) {
            background-color: darkgreen;
        }

        & .skill-remove-btn {
            padding: 0;
            align-items: center;
        }

        & .icon {
            font-size: 1.2em;
        }
    }
}

/* TABLE CONTROLS */

.table-controls {
    gap: 15px;

    & label {
        font-size: 0.8em;
    }

    & #name-search {
        max-width: 220px;
        padding-inline: 7px;
    }

    & select {
        max-width: 150px;
    }

    & .skills-input-container {
        border: 1px solid #7e7e7e;
        border-radius: 3px;
        align-items: center;
        padding-inline: 5px;
        gap: 5px;
        position: relative;

        & .custom-select-wrap {
            max-width: 180px;
        }

        & .select-options {
            bottom: auto;
            top: calc(100% + 1px);
            width: auto;
        }
    }

    & .selected-skills-list {
        margin: 0;
    }

    & .selected-skills-list.pos-absolute {
        background-color: #fff;
        position: absolute;
        top: calc(100% + 2px);
        left: 0;
        width: 100%;
        padding: 5px;
        border: 1px solid #b5b5b5;
        border-radius: 3px;
    }

    & .skill-label {
        background-color: #272829;
        color: #fff;
        font-size: 0.8em;
        min-height: 25px;
        align-items: center;
        justify-content: space-between;
        gap: 7px;
        padding-inline: 8px;
        border-radius: 3px;

        &:hover {
            cursor: pointer;
        }

        & .count-label {
            width: 16px;
            height: 16px;
            border: 1px solid #fff;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            user-select: none;
        }
    }

    & #clear-filters-btn {
        border: 1px solid #000;
        border-radius: 3px;
        margin-left: auto;

        &:hover {
            background-color: #d5d5d5;
        }
    }
}

.form-controls-container {
    justify-content: center;
    gap: 20px;
    margin: 10px 0 0 0;

    & button {
        padding: 7px 15px;
        border-radius: 15px;
        color: #fff;
        font-weight: bold;
        background-color: rgb(50, 50, 50);

        &:hover {
            background-color: rgb(0, 0, 0);
        }
    }

    & button[type='submit'] {
        background-color: rgb(35, 109, 255);

        &:hover {
            background-color: rgb(15, 89, 235);
        }
    }
}

.modal-body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    border-radius: 5px;
    background-color: #fff;
    padding: 15px;
    max-height: 95vh;
    overflow: auto;
}

#add-emp-form {
    --input-field-height: 1.6em;
    min-width: 400px;
    width: 500px;

    & label {
        font-size: 0.8em;
        margin-bottom: 1px;
        position: relative;
        display: inline-block;
    }

    & input,
    & select {
        height: var(--input-field-height);
    }

    /* & fieldset {
        border: none;

        & legend {
            font-size: 0.8em;
            margin-bottom: 1px;
            display: inline-block;
        }
    } */

    & h3 {
        font-size: 0.8em;
        margin: 0 0 1px 0;
        display: inline-block;
        font-weight: normal;
        position: relative;
    }

    & .form-row {
        justify-content: space-between;
        gap: 15px;
    }

    & .form-row > .form-entry {
        flex: 1 1 0;
    }

    & .required-field::after {
        content: '*';
        color: #b70000;
        position: absolute;
        top: 0;
        right: -8px;
    }

    & .form-entry {
        margin-bottom: 5px;
    }

    & .error-msg {
        color: #b70000;
        margin: 1px 0 0 0;
        font-size: 0.6em;
    }

    & #profile-photo-label {
        display: block;
        max-width: min-content;
        cursor: pointer;
        border-radius: 50%;
        /* overflow: hidden; */
        /* background: url(../images/employee-avatar.svg) no-repeat;
        background-position: center; */

        & .profile-photo {
            width: 80px;
            height: 80px;
            object-fit: cover;
            border-radius: 50%;
        }
    }

    & .checkbox-container {
        gap: 15px;
        align-items: center;
        height: var(--input-field-height);

        & label {
            display: flex;
            align-items: center;
            gap: 5px;
        }
    }

    & .skills-input-container {
        border: 1px solid #d5d5d5;
        border-radius: 3px;
        padding: 10px;

        & select {
            width: 150px;
        }
    }
}

.employees-table {
    margin: 20px 0;
    width: 100%;
    border-spacing: 0;
    border-radius: 10px;
    border: 1px solid #000;
    overflow: hidden;

    & th,
    & td {
        padding: 7px 10px;
    }

    & th {
        background-color: #d5d5d5;
        text-align: left;
    }
}

.employees-table th:not(:last-child),
.employees-table td:not(:last-child) {
    border-right: 1px solid #000;
}

.employees-table th,
.employees-table tr:not(:last-child) td {
    border-bottom: 1px solid #000;
}

.employee-actions {
    padding-left: 0;
    margin: 0;
    list-style: none;
    align-items: center;
    gap: 25px;

    & li button {
        padding: 0;
        align-items: center;
    }

    & li span {
        color: #000;

        &:hover {
            transform: scale(1.2);
            font-variation-settings: 'FILL' 1;
        }
    }

    & .view-emp-btn span {
        color: green;
    }

    & .edit-emp-btn span {
        color: orange;
    }

    & .delete-emp-btn span {
        color: red;
    }

    & th {
        background-color: #d5d5d5;
    }
}

th:not(:last-child),
td:not(:last-child) {
    border-right: 1px solid #000;
}

th,
tr:not(:last-child) > td {
    border-bottom: 1px solid black;
}
